@using Kanban.Dto
@model CadastroAtividadeDto

<div class="container">

    <form method="post" asp-controller="Atividade" asp-action="Cadastrar">

        <div>
            <label class="col-form-label-lg">Titulo</label>
            <input type="text" class="form-control" asp-for="Titulo" /> 
            <span class="text-danger" asp-validation-for="Titulo"></span>
        </div>

        <div>
            <label class="col-form-label-lg">Descrição</label>
            <input type="text" class="form-control" asp-for="Descricao" />
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>

        <div>
            <label class="col-form-label-lg">Status</label>
            <select class="form-select"
                asp-for="StatusId"
                asp-items= "@(new SelectList(ViewBag.Status,"Id","Nome"))">

            </select>
        </div>

        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary w-50 ">Cadastrar</button>
            <a class="btn btn-danger w-50" asp-action="Index" asp-controller="Atividade">Voltar</a>
        </div>
    </form>

</div>